---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout {title}="About">

    <div class="about-section">


        <div style="margin: 30px auto;">
            <h1 style="white-space-collapse:preserve;">Hello, I am Harleigh! 👋</h1>
        </div>

        <hr style="margin: 0.5rem auto 2rem auto">

        <div class="about-info">

            <p>What can I say about me? About this blog? What would draw readers in?
                Something cliche? Something profound?</p>
   
                <p>How about a dose of transparency?</p>
   
                <p>I'm a soon-to-be-49-year-old recovering addict. I have been clean and sober for going on three years
                   after a 24-year drug run. I have done things I am not proud of, been in some sketchy environments,
                    and wouldn't accept my family's support while out there.</p>
   
   
                <p>Since living a life of recovery I have obtained my BA, and MA in Psychology
                    and then found my passion in helping other addicts recover as a Peer Support Specialist. 
                    I was given an amazing opportunity to get my feet wet in counseling and worked hard to 
                    obtain my CADC (Certification in Alcohol and Drug Counseling). 
                  </p>
   
   
                <p>I don't profess to know it all, I just want readers to know if they too suffer from a drug or
                   alcohol problem they are not alone. I have walked a mile in those shoes and do know what it means
                    to crave a drug of choice. I also know how incredibly hard it is to choose recovery,
                     choose abstinence, and change people, places, and things.</p>
   
   
                <p>I just want the world to know that we do recover, and <em>I'm living proof.</em></p>
   
        </div>
        
            
    </div>

</BaseLayout>