---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout {title}="About">

    <div>
        <h2>Hello, I am Harleigh!</h2>
        <p style="margin: 20px auto 200px;">Duis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputateDuis autem vel eum iriure dolor in hend in vulputate</p>
    </div>

</BaseLayout>