---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout {title}="Home">


<!-- 
	<div class="blog-card">
		<div class="meta">
		  <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
		  <ul class="details">
			<li class="author"><a href="#">John Doe</a></li>
			<li class="date">Aug. 24, 2015</li>
			<li class="tags">
			  <ul>
				<li><a href="#">Learn</a></li>
				<li><a href="#">Code</a></li>
				<li><a href="#">HTML</a></li>
				<li><a href="#">CSS</a></li>
			  </ul>
			</li>
		  </ul>
		</div>
		<div class="description">
		  <h1>Learning to Code</h1>
		  <h2>Opening a door to the future</h2>
		  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
		  <p class="read-more">
			<a href="#">Read More</a>
		  </p>
		</div>
	  </div>
	  <div class="blog-card alt">
		<div class="meta">
		  <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
		  <ul class="details">
			<li class="author"><a href="#">Jane Doe</a></li>
			<li class="date">July. 15, 2015</li>
			<li class="tags">
			  <ul>
				<li><a href="#">Learn</a></li>
				<li><a href="#">Code</a></li>
				<li><a href="#">JavaScript</a></li>
			  </ul>
			</li>
		  </ul>
		</div>
		<div class="description">
		  <h1>Mastering the Language</h1>
		  <h2>Java is not the same as JavaScript</h2>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
		  <p class="read-more">
			<a href="#">Read More</a>
		  </p>
		</div>
	  </div> -->
	
	<div>
		<div class="card">
			<img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" class="card__image" alt="brown couch" />
			<div class="card__content">
			  <time datetime="2024-02-15" class="card__date">15 Feb 2024</time>
			  <span class="card__title">Hello, this is my first blog on this website. <span>
			</div>
		  </div>
	
		  <div class="card">
			<img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" class="card__image" alt="brown couch" />
			<div class="card__content">
			  <time datetime="2021-03-30" class="card__date">30 März 2021</time>
			  <span class="card__title">Duis autem vel eum iriure dolor in hend in vulputate<span>
			</div>
		  </div>
	
				<div class="card">
			<img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" class="card__image" alt="brown couch" />
			<div class="card__content">
			  <time datetime="2021-03-30" class="card__date">30 März 2021</time>
			  <span class="card__title">Duis autem vel eum iriure dolor in hend in vulputate<span>
			</div>
		  </div>

		  <div class="card">
			<img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" class="card__image" alt="brown couch" />
			<div class="card__content">
			  <time datetime="2021-03-30" class="card__date">30 März 2021</time>
			  <span class="card__title">Duis autem vel eum iriure dolor in hend in vulputate<span>
			</div>
		  </div>
	</div>
	  
		
	

</BaseLayout>

