<div class="footer" style="padding: 42px auto 0px auto;">
    <hr style="margin: 4rem 0 2rem 0;">
    <p style="text-align: center;"><em>Want to say Hi or suggest something? Do it <a href="mailto:harleigh.blog@gmail.com"> here</a>.</em></p>
</div>