---
import Header from '../Components/Header.astro';
import Footer from '../Components/Footer.astro';
import '../styles/global.css';
const{title} = Astro.props;
---
<!DOCTYPE>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel=" shortcut icon" type="image/x-icon" href="/favicon-32x32.png?" />
		
		<script src="https://kit.fontawesome.com/8ac353acb4.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
        <slot />
		<Footer />
		<script src="../scripts/scripts.js"></script>

	</body>
</html>
